/*our specialities*/
.our_specialities_h1 h1{
    font-size: 30px;
    font-weight: 700;
   text-align: center;
   padding-bottom: 0;

}
 .our_specialities{
    margin-left: 40px;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.specialities-img{
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.specialities-img img{
    width: 100%;
    height: auto;
    display: block;
}
.specialities-left,
.specialities-right{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    flex: 1;
}
.specialities-left{
   text-align: right;
}
.specialities-right{
    text-align: left;
}

@media(max-width:799px){
    .our_specialities_h1 h1{
        font-size: 30px;
        font-weight: 700;
       text-align: center;
       padding-bottom: 10px;
    
    }
     .our_specialities{
       
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .specialities-left,
    .specialities-right{
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 15px;
        text-align: center;
    }
   
    br{
        display: none;
    }
    .specialities-left{
        align-items: center;
    }
    .specialities-right{
        align-items: center;
    }
}
@media (min-width: 799px) and (max-width: 1300px) {
    .specialities-img{
        flex: 0 1 50%;
       
    }
}